<footer class="site-footer">

  <div class="wrapper">

    <div class="row footer-nav text-center">
      <div class="footer-col  footer-col-1">
        <p>© 2019 Golem Foundation and others</p>
      </div>

      <div class="footer-col  footer-col-2">
        <p>
            <a href="https://github.com/golemfoundation">github</a> | 
            <a href="mailto:contact@golem.foundation">email</a> |
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">rss</a> |
            <a href="https://github.com/golemfoundation/golemfoundation-website.git">
		    source of this website
	    </a>
	    
 
       </p>
      </div>

    </div>

  </div>

</footer>

<script src="/js/jquery-2.2.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
